@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    /*바깥 여백*/
    margin: 0;
    /*안쪽 여백*/
    padding: 0;
    /*div 두께 포함*/
    box-sizing: border-box;
}

/* 화면 전체 글자 크기*/
body {
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
}


a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

button, select, input {
    border: 0;
    outline: 0;
    /* 배경 투명처리 */
    background-color: transparent;
}

p {
    /* 현재 글자 크기에 180% */
    line-height: 1.8;
    /* 균등 정렬 */
    text-align: justify;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}