@charset 'utp-8';

.img {
    width: 400px;
    border-radius: 50%;
    border: 2px dotted #f00;
}

.bg {
    background-image: url(../images/cat.jpg);
    background-repeat: no-repeat;
    /*배경 반복 안되도록*/
    background-size: cover;
    /*배경 보이게*/
    background-position: center;
    /*배경 가운데로 배치*/
    width: 400px;
    height: 600px;
    border-radius: 50%;
    border: 2px dotted #00f;

    position: relative;
    /*글자 가운데 배치*/
}

.txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}