@charset 'utf-8';

header {
    width: 100%;
    height: 70px;
    background-color: #348cd4;
}

main {
    width: 100%;
    background-color: #fff;
}

.logo,
.menu {
    width: 15%;
    float: left;
}

.logo h2 {
    color: #fff;
    text-align: center;
    margin-top: 23px;
}

.auth {
    margin-top: 15px;
}

.info {
    display: flex;
    /* 가로배치 */
    justify-content: flex-end;
    /* 세로배치 */
    align-items: center;
    height: 40px;
}

form {
    position: relative;
}

.zoom {
    position: absolute;
    /* 세로 가운데 배치 */
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.zoom i {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 18px;
}

.search {
    width: 200px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding-left: 10px;

}

.bell {
    position: relative;
    margin-left: 10px;
}

.bell i {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.msg {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f00;
    color: white;
    text-align: center;
    line-height: 15px;

    position: absolute;
    top: -5px;
    right: -10px;
}

.pic {
    position: relative;
    margin: 0 15px;
}

.pic i {
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.auth,
.main {
    width: 85%;
    float: left;
}

.clearfix {
    clear: both;
}

.menu {
    border-right: 1px solid #e8e8e8;
    height: 100vh;
    padding: 30px 20px;
}

.menu h4 {
    color: #3b424a;
}

.menu ul {
    margin-top: 20px;
}

.menu ul li {
    line-height: 2.2;
}

.menu ul li:first-child a {
    color: #7ab3e1;
    font-weight: 500;
}

.menu .icon {
    margin-right: 10px;
}

.menu .icon i {
    color: #7ab3e1;

}

.main {
    background-color: #eeefef;
    height: 100vh;
    padding: 20px 20px;
}

.main-top .welcome {
    float: left;
    color: #3b424a;
    font-weight: 600;
}

.main-top .siteamp {
    float: right;
    color: #3b424a;
    font-weight: 400;
}

.main-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid #e8e8e8;
}

.main-panel div {
    width: 24%;
    height: 150px;
    border-radius: 2px;
}

.main-content div {
    width: 32%;
    height: 300px;
    border-radius: 2px;
    background-color: #fff;
}

.main-panel .member {
    background-color: #8892d6;
}

.main-panel .article {
    background-color: #45bbe0;
}

.main-panel .download {
    background-color: #f06292;
}

.main-panel .request {
    background-color: #78c350;
}